<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <button routerLink="home" class="link-home">Home</button>
</div>-->
<router-outlet></router-outlet> 
<div fxlayout="column" class="mt5">
  <div fxLayoutAlign="center" class="center">
    <p>
      <span class="bodytext">Welcome to</span>
      <span class="redclr">NEOMEGHA</span>
    </p>
  </div>
  <div fxLayoutAlign="center" class="center">
    <p class="labeltxt">Ready to build your first Cloud native Micro-service based Application?</p>
  </div>
  <div fxLayoutAlign="center" id="startApp" class="center">
    <button mat-button class="startbtn" (click)="goForward()">GET STARTED</button>
  </div>
</div>
<span>
  <img src="assets/images/parachutee-1.png" class="parachuteeimage" />
</span>
<span>
  <img src="assets/images/parachu-3.png" class="parachu3image" />
</span>
<span>
  <img src="assets/images/parachute-2.png" class="parachu2image" />
</span>

